# Google 股價為範例，操作時間序列的技巧

In [11]:
import pandas as pd
import datetime as dt
import pandas_datareader.data as data

# 舊程式碼
# start = dt.datetime(2020, 3, 1)
# end = dt.datetime(2020, 4, 30)
# df = data.get_data_yahoo('GOOG', start, end)
# df

# 更新後的程式碼
df = data.DataReader('AAPL', data_source = 'stooq', start='2023-07-01',end='2023-08-31')
df

               Open      High       Low    Close     Volume
Date
2023-08-23  178.520  181.5500  178.3250  181.120   52722752
2023-08-22  177.060  177.6800  176.2500  177.230   42084245
2023-08-21  175.070  176.1300  173.7350  175.840   46311879
2023-08-18  172.300  175.1000  171.9600  174.490   61172150
2023-08-17  177.140  177.5054  173.4800  174.000   66062882
2023-08-16  177.130  178.5400  176.5000  176.570   46964857
2023-08-15  178.880  179.4800  177.0500  177.450   43622593
2023-08-14  177.970  179.6900  177.3050  179.460   43675627
2023-08-11  177.320  178.6200  176.5500  177.790   52036672
2023-08-10  179.480  180.7500  177.6000  177.970   54686851
2023-08-09  180.870  180.9300  177.0100  178.190   60378492
2023-08-08  179.690  180.2700  177.5800  179.800   67823003
2023-08-07  182.130  183.1300  177.3500  178.850   97576069
2023-08-04  185.520  187.3800  181.9200  181.990  115956841
2023-08-03  191.570  192.3700  190.6900  191.170   62243282
2023-08-02  195.040  195.1800  191.8507  192.580   50389327
2023-08-01  196.235  196.7300  195.2800  195.605   35281426
2023-07-31  196.060  196.4900  195.2600  196.450   38824113
2023-07-28  194.670  196.6260  194.1400  195.830   48291443
2023-07-27  196.020  197.2000  192.5500  193.220   47460180
2023-07-26  193.670  195.6400  193.3200  194.500   47471868
2023-07-25  193.330  194.4400  192.9150  193.620   37283201
2023-07-24  193.410  194.9100  192.2500  192.750   45505097
2023-07-21  194.100  194.9700  191.2300  191.940   71951683
2023-07-20  195.090  196.4700  192.4950  193.130   59581196
2023-07-19  193.100  198.2300  192.6500  195.100   80507323
2023-07-18  193.350  194.3300  192.4150  193.730   48353774
2023-07-17  191.900  194.3200  191.8100  193.990   50520159
2023-07-14  190.230  191.1799  189.6300  190.690   41616242
2023-07-13  190.500  191.1900  189.7800  190.540   41342338
2023-07-12  189.680  191.7000  188.4700  189.770   60750248
2023-07-11  189.160  189.3000  186.6000  188.080   46638119
2023-07-10  189.260  189.9900  187.0350  188.610   59922163
2023-07-07  191.410  192.6700  190.2400  190.680   46814998
2023-07-06  189.840  192.0200  189.2000  191.810   45156009
2023-07-05  191.565  192.9800  190.6200  191.330   46920261
2023-07-03  193.780  193.8800  191.7600  192.460   31458198

## DatetimeIndex
用時間作為索引的型態<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DatetimeIndex.html

In [8]:
df.index.week

C:\Users\Yan-Ju-Wang\AppData\Local\Temp\ipykernel_19408\1779393923.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  df.index.week

Int64Index([34, 34, 34, 33, 33, 33, 33, 33, 32, 32, 32, 32, 32, 31, 31, 31, 31,
            31, 30, 30, 30, 30, 30, 29, 29, 29, 29, 29, 28, 28, 28, 28, 28, 27,
            27, 27, 27],
           dtype='int64', name='Date')

## 計算每週交易量總和

In [9]:
df['week'] = df.index.week
df

C:\Users\Yan-Ju-Wang\AppData\Local\Temp\ipykernel_19408\4010627582.py:1: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series. To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  df['week'] = df.index.week

               Open      High       Low    Close     Volume  week
Date
2023-08-23  178.520  181.5500  178.3250  181.120   52722752    34
2023-08-22  177.060  177.6800  176.2500  177.230   42084245    34
2023-08-21  175.070  176.1300  173.7350  175.840   46311879    34
2023-08-18  172.300  175.1000  171.9600  174.490   61172150    33
2023-08-17  177.140  177.5054  173.4800  174.000   66062882    33
2023-08-16  177.130  178.5400  176.5000  176.570   46964857    33
2023-08-15  178.880  179.4800  177.0500  177.450   43622593    33
2023-08-14  177.970  179.6900  177.3050  179.460   43675627    33
2023-08-11  177.320  178.6200  176.5500  177.790   52036672    32
2023-08-10  179.480  180.7500  177.6000  177.970   54686851    32
2023-08-09  180.870  180.9300  177.0100  178.190   60378492    32
2023-08-08  179.690  180.2700  177.5800  179.800   67823003    32
2023-08-07  182.130  183.1300  177.3500  178.850   97576069    32
2023-08-04  185.520  187.3800  181.9200  181.990  115956841    31
2023-08-03  191.570  192.3700  190.6900  191.170   62243282    31
2023-08-02  195.040  195.1800  191.8507  192.580   50389327    31
2023-08-01  196.235  196.7300  195.2800  195.605   35281426    31
2023-07-31  196.060  196.4900  195.2600  196.450   38824113    31
2023-07-28  194.670  196.6260  194.1400  195.830   48291443    30
2023-07-27  196.020  197.2000  192.5500  193.220   47460180    30
2023-07-26  193.670  195.6400  193.3200  194.500   47471868    30
2023-07-25  193.330  194.4400  192.9150  193.620   37283201    30
2023-07-24  193.410  194.9100  192.2500  192.750   45505097    30
2023-07-21  194.100  194.9700  191.2300  191.940   71951683    29
2023-07-20  195.090  196.4700  192.4950  193.130   59581196    29
2023-07-19  193.100  198.2300  192.6500  195.100   80507323    29
2023-07-18  193.350  194.3300  192.4150  193.730   48353774    29
2023-07-17  191.900  194.3200  191.8100  193.990   50520159    29
2023-07-14  190.230  191.1799  189.6300  190.690   41616242    28
2023-07-13  190.500  191.1900  189.7800  190.540   41342338    28
2023-07-12  189.680  191.7000  188.4700  189.770   60750248    28
2023-07-11  189.160  189.3000  186.6000  188.080   46638119    28
2023-07-10  189.260  189.9900  187.0350  188.610   59922163    28
2023-07-07  191.410  192.6700  190.2400  190.680   46814998    27
2023-07-06  189.840  192.0200  189.2000  191.810   45156009    27
2023-07-05  191.565  192.9800  190.6200  191.330   46920261    27
2023-07-03  193.780  193.8800  191.7600  192.460   31458198    27

In [6]:
df.groupby('week').Volume.sum()

week
27    170349466
28    250269110
29    310914135
30    226011789
31    302694989
32    332501087
33    261498109
34    141118876
Name: Volume, dtype: int64

## resample
調整週期重新採樣的方法<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.resample.html#pandas.DataFrame.resample

In [10]:
ten = df.resample('10D').mean()
ten

,Open,High,Low,Close,Volume,week
Date,,,,,,
2023-07-03,190.670714,191.791429,189.132143,190.391429,4.823714e+07,27.428571
2023-07-13,192.610000,194.384271,191.430000,192.731429,5.626753e+07,28.714286
2023-07-23,194.770714,196.005143,193.673571,194.567857,4.287390e+07,30.285714
2023-08-02,183.952500,184.828750,181.318838,182.292500,7.013632e+07,31.625000
2023-08-12,176.415000,177.740900,175.005000,176.301667,5.130166e+07,33.166667
2023-08-22,177.790000,179.615000,177.287500,179.175000,4.740350e+07,34.000000